<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn - Lemur Locator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script> let card = {{ card | json_encode() | safe }} </script>
    <style>
        #map {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Learn</h1>
<h2>Where is {{ card.place_name }}?</h2>
<div id="map"></div>
<form id="answerForm">
    <input type="hidden" id="cardId" name="id" value="{{ card.id }}">
    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">
</form>
<div id="result"></div>

<script type="text/javascript">
    function haversineDistance(lat1, lon1, lat2, lon2) {
        const R = 6371; // Earth's radius in kilometers

        const toRadians = (degrees) => degrees * Math.PI / 180;

        const lat1Rad = toRadians(lat1);
        const lat2Rad = toRadians(lat2);
        const dlat = toRadians(lat2 - lat1);
        const dlon = toRadians(lon2 - lon1);

        const a = Math.sin(dlat / 2) ** 2 +
            Math.cos(lat1Rad) * Math.cos(lat2Rad) *
            Math.sin(dlon / 2) ** 2;
        const c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1 - a));

        return R * c * 1000; // Convert to meters
    }

    var map = L.map('map', {
        center: [51.3384, 12.3861],
        zoom: 13,
        dragging: false,
        touchZoom: false,
        scrollWheelZoom: true,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        zoomControl: false
    });
    // Find layers on https://leaflet-extras.github.io/leaflet-providers/preview/
    L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.{ext}', {
        minZoom: 1,
        maxZoom: 16,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'jpg'
    }).addTo(map);

    var green_marker, red_marker;
    /** @type {'WAITING_FOR_GUESS' | 'CORRECT' | 'INCORRECT'} */
    let status = 'WAITING_FOR_GUESS'

    function place_markers(e) {
        if (green_marker) {
            map.removeLayer(green_marker);
        }
        if (red_marker) {
            map.removeLayer(red_marker);
        }

        let latitude_guess = e.latlng.lat.toFixed(6);
        let longitude_guess = e.latlng.lng.toFixed(6);

        let distance = haversineDistance(card.latitude, card.longitude, latitude_guess, longitude_guess);
        console.log('Distance:', distance);

        // Create a green marker in the correct position.
        green_marker = L.marker([card.latitude, card.longitude], {
            icon: L.icon({
                iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
                shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                iconSize: [25, 41],
                iconAnchor: [12, 41],
                popupAnchor: [1, -34],
                shadowSize: [41, 41]
            })
        }).addTo(map);
        status = 'CORRECT';

        if (distance > 250) {
            // Create a red marker in the incorrect position.
            red_marker = L.marker(e.latlng, {
                icon: L.icon({
                    iconUrl: 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
                    shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
                    iconSize: [25, 41],
                    iconAnchor: [12, 41],
                    popupAnchor: [1, -34],
                    shadowSize: [41, 41]
                })
            }).addTo(map);
            status = 'INCORRECT';
        }

        document.getElementById('latitude').value = latitude_guess;
        document.getElementById('longitude').value = longitude_guess;
    }

    map.on('click', function (e) {
        if (status === 'WAITING_FOR_GUESS') {
            place_markers(e);
            submitAnswer();
        } else {
            // Redirect to the next card.
            window.location.href = next_card_url();
        }
    });

    function submitAnswer() {
        var formData = new FormData(document.getElementById('answerForm'));
        var urlEncodedData = new URLSearchParams(formData);

        fetch('/api/check_answer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: urlEncodedData
        })
            .then(response => response.json())
            .then(handleResponse);
    }

    function handleResponse(result) {
        document.getElementById('result').textContent = result.message;
    }

    function next_card_url() {
        if (card.next_id > 0) {
            return `/learn/${card.next_id}?r=${card.cache_buster}`;
        }
        return '/learn'; // Fall back to the server based redirect
    }

    function prefetchNextCard() {
        if (card.id > 0) {
            fetch(next_card_url(), {method: 'GET'});
        }
    }

    // Call prefetchNextCard after a short delay
    setTimeout(prefetchNextCard, 200);
</script>
</body>
</html>