<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn - Lemur Locator</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <style>
        #map {
            height: 800px;
            width: 100%;
        }
    </style>
</head>
<body>
<h1>Learn</h1>
<h2>Where is {{ card.place_name }}?</h2>
<div id="map"></div>
<form id="answerForm">
    <input type="hidden" id="cardId" name="id" value="{{ card.id }}">
    <input type="hidden" id="latitude" name="latitude">
    <input type="hidden" id="longitude" name="longitude">
    <button type="submit" id="submitBtn" disabled>Submit Answer</button>
</form>
<div id="result"></div>

<script>
    var map = L.map('map', {
        center: [51.3384, 12.3861],
        zoom: 13,
        dragging: false,
        touchZoom: false,
        scrollWheelZoom: true,
        doubleClickZoom: false,
        boxZoom: false,
        keyboard: false,
        zoomControl: false
    });
    // Find layers on https://leaflet-extras.github.io/leaflet-providers/preview/
    L.tileLayer('https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.{ext}', {
        minZoom: 1,
        maxZoom: 16,
        attribution: '&copy; <a href="https://www.stadiamaps.com/" target="_blank">Stadia Maps</a> &copy; <a href="https://www.stamen.com/" target="_blank">Stamen Design</a> &copy; <a href="https://openmaptiles.org/" target="_blank">OpenMapTiles</a> &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        ext: 'jpg'
    }).addTo(map);

    var user_marker;

    map.on('click', function (e) {
        if (user_marker) {
            map.removeLayer(user_marker);
        }
        user_marker = L.marker(e.latlng).addTo(map);
        document.getElementById('latitude').value = e.latlng.lat.toFixed(6);
        document.getElementById('longitude').value = e.latlng.lng.toFixed(6);
        document.getElementById('submitBtn').disabled = false;
    });

    function handleResponse(result) {
        document.getElementById('result').textContent = result.message;
    }

    document.getElementById('answerForm').onsubmit = function (e) {
        e.preventDefault();
        var formData = new FormData(this);
        var urlEncodedData = new URLSearchParams(formData);
        console.log(formData);

        fetch('/api/check_answer', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: urlEncodedData
        })
            .then(response => response.json())
            .then(handleResponse);
    };
</script>
</body>
</html>